.header-container {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-style: italic;
    margin: 0 50px 0 24px;
    font-weight: bold;
}

.link-container {
    flex: 1;
    margin-right: 138px;
    display: flex;
    justify-content: center;
}

a {
    margin: 24px;
    text-decoration: none;
    color: rgb(104, 104, 104);
    font-weight: bold;
}

a:hover {
    color: rgb(138, 138, 138);
}