<h1>NgRx Signal Store To Do App</h1>

<mat-form-field class="todo-input">
    <mat-label>Enter a TODO and press Enter</mat-label>
    <input matInput #input (keyup.enter)="OnAddToDo(input.value)">
    <mat-icon matSuffix fontIcon="edit"></mat-icon>
</mat-form-field>

<mat-button-toggle-group #filter hideSingleSelectionIndicator="true" (change)="onFilterToDos($event)">
    <mat-button-toggle value="all">All</mat-button-toggle>
    <mat-button-toggle value="pending">Pending</mat-button-toggle>
    <mat-button-toggle value="completed">Completed</mat-button-toggle>
</mat-button-toggle-group>

<div class="todos-list-container">
    <mat-selection-list class="todos-list">
    
        @if (!store.loading()) {
            @for(todo of store.filteredToDos(); track todo.id; let index = $index) {
                <mat-list-option [selected]="todo.completed" (click)="OnToDoToggled(todo.id, todo.completed)">
                    <div class="todo-item">
                        <mat-icon fontIcon="delete" class="delete-todo" (click)="onDeleteToDo(todo.id, $event)"></mat-icon>
                        <span [ngStyle]="{'text-decoration': todo.completed ? 'line-through' : 'none'}">{{ todo.title }}</span>
                    </div>
                </mat-list-option>
            }
        }
        @else {
            <mat-spinner></mat-spinner>
        }
    
    </mat-selection-list>
</div>